body {
background: linear-gradient(yellow, red);
height: 2000px;
}

.jumbotron-style {
    background-color: white;
}

.card {
    height: 250px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
}

.special {
    height: 250px;
    width: 800px;
}

.padding5 {
    padding: 5px;
}

.margin100 {
    margin: 100px;
}

.margin10 {
    margin: 10px;
}

.margin25 {
    margin: 25px;
}