body {
background: linear-gradient(yellow, red);
height: 2000px;
}

.jumbotron-style {
    background-color: aqua;
}

.card {
    height: 250px;
    width: 400px;
}

.margin100 {
    margin: 100px;
}

.margin10 {
    margin: 10px;
}