body {
background: linear-gradient(yellow, red);
height: 2000px;
}

.jumbotron-style {
    background-color: white;
}

.card {
    height: 250px;
    width: 400px;
}

.special {
    height: 250px;
    width: 800px;
}

.margin100 {
    margin: 100px;
}

.margin10 {
    margin: 10px;
}