<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Link-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <!-- Custom CSS  -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Favicon Link -->
    <link rel="icon" type="image/png" href="../static/Favicon.png" />
    <title>Custom Password</title>
</head>

<body>
    <h1 class="jumbotron">Let's create a custom password</h1>
    <div class="container">
        <h1>What would you like your password to have?: </h1>
        <form action="">
            <input type="number" name="lengthSel" placeholder="length of password" class="row col-md-3 margin10" />
            <input type="text" name="capSel" placeholder="Capitals" /> Capital Letters
            <input type="text" name="charSel" placeholder="Special" /> Special Characters
            <input type="text" name="numSel" placeholder="Numbers" /> Numbers
            <input type="checkbox" name="testSel" /> test
            <input type="submit" value="Generate your customized password">
        </form>
        <br>
        <div class="margin100">
            <div class="card row justify-content-center special text-center">
                <div>
                    <h1>{{password}}</h1>
                    <h2>{{length}}</h2>
                    <h4>{{password2}}</h4>
                    <h2>{{capitals}}</h2>
                    <h2>{{characters}}</h2>
                    <h2>{{numbers}}</h2>
                    <h2>{{test}}</h2>
                </div>
            </div>

        </div>

    </div>
</body>

</html>